####################################################################################
#	                Cartographer
####################################################################################
[mcu scanner]
canbus_uuid: 6eabbd4c0b0e        
#    adjust to suit your scanner, if using usb change to serial.
#    serial: /dev/serial/by-id/usb-cartographer_cartographer_
[scanner]
mcu: scanner 

x_offset: 0                          
#    adjust for your cartographers offset from nozzle to middle of coil
y_offset: 30                       
#    adjust for your cartographers offset from nozzle to middle of coil
backlash_comp: 0.01518
#   Backlash compensation distance for removing Z backlash before measuring
#   the sensor response.
sensor: cartographer
#    this must be set as cartographer unless using IDM etc.
sensor_alt: carto
#    alternate name to call commands. CARTO_TOUCH etc      
mesh_runs: 2
#    Number of passes to make during mesh scan.

[adxl345]
cs_pin: scanner:PA3
spi_bus: spi1

[resonance_tester]
accel_chip: adxl345
probe_points:
    175, 175, 20
    
####################################################################################
#	                Bed Mesh
####################################################################################
[bed_mesh]
zero_reference_position: 175,175    
#    set this to the middle of your bed
speed: 1000
#    movement speed of toolhead during bed mesh
horizontal_move_z: 5
#    height of scanner during bed mesh scan
mesh_min: 40,40
#    start point of bed mesh [X, Y]
mesh_max: 310,310
#    end point of bed mesh [X, Y]
probe_count: 30,30
algorithm: bicubic

####################################################################################
#	                Save Z Home
####################################################################################
[safe_z_home]
home_xy_position: 175,175
# Example home_xy_position: 175,175 - This would be for a 350 * 350mm bed. 
z_hop: 10
speed: 700

####################################################################################
#	                Quad Gantry Level
#################################################################################### 
[quad_gantry_level]
gantry_corners:                    
	-60,-10
	410,420
##	Probe points
points:
	20,0
	20,305
	330,305
	330,0

speed: 700
horizontal_move_z: 6
retries: 5                          
retry_tolerance: 0.006                
max_adjust: 10 

