[include shell_command.cfg]
[virtual_sdcard]
path: ~/printer_data/gcodes
[display_status]
[pause_resume]

[mcu]
serial:/dev/serial/by-id/usb-Klipper_stm32f446xx_61003F001451303530323539-if00

[printer]                           
kinematics: corexy                  
max_velocity: 700                   
max_accel: 15000			            
max_z_velocity: 20		     	    
max_z_accel: 500                     
square_corner_velocity: 10


####################################################################################
#                   Voron 2.4 R2 350mm
####################################################################################

[exclude_object]
[gcode_arcs]
resolution: 0.1
[include Homing_Gantry.cfg]
[include macros.cfg]
#[include Adaptive_Mesh.cfg]
#[include filament.cfg]
[include LED.cfg]
[include IDM.cfg]
[include SHT36_PRO.cfg]
#[include IS_shaper_calibrate.cfg]
#[include IS_vibrations_measurement.cfg]
[include test_speed.cfg]
[include mainsail.cfg]


####################################################################################
#                 [X/Y Stepper Settings]
####################################################################################
#   B --------- --- A
#   |              |
#   |------E-------|
#   |              |
#   |              |
#   |              |
####################################################################################
#                   X (B Motor)
####################################################################################
[stepper_x]                         
step_pin: PE11                      
dir_pin: PE10                       
enable_pin: !PE9                    
rotation_distance: 40                
microsteps: 32                      
full_steps_per_rotation:200          
position_min: 0                     
position_endstop: 350              
position_max: 350                    
homing_speed: 150                   
homing_retract_dist: 2              
homing_positive_dir: true           
#----------------------------------------------------------------------------------
[tmc2209 stepper_x]                 
uart_pin: PE7 
interpolate: False                   
run_current: 0.9                                      
sense_resistor: 0.110                
stealthchop_threshold:  0 
#[autotune_tmc stepper_x]
#motor: omc-17hm19-2004s
#tuning_goal: performance
####################################################################################
#                   Y (A Motor)
####################################################################################
[stepper_y]                         
step_pin: PD8                       
dir_pin: PB12                       
enable_pin: !PD9                    
rotation_distance: 40               
microsteps: 32                       
full_steps_per_rotation:200        
endstop_pin: ^PB13 
position_min: 0                     
position_endstop: 350              
position_max: 350                   
homing_speed: 150                   
homing_retract_dist: 2               
homing_positive_dir: true           
#-----------------------------------------------------------------------------------
[tmc2209 stepper_y]                 
uart_pin: PE15 
interpolate: False                    
run_current: 0.9                                       
sense_resistor: 0.110                
stealthchop_threshold: 0           
#[autotune_tmc stepper_y]
#motor: omc-17hm19-2004s
#tuning_goal: performance
####################################################################################
#                      Z Stepper Settings
####################################################################################
# ----------------
# |Z1          Z2|
# |  ---------   |
# |  |       |   |
# |  |       |   |
# |  x--------   |
# |Z           Z3|
# ----------------
#
####################################################################################
#                   Z
#################################################################################### 
[stepper_z]                         
step_pin: PD14                      
dir_pin: PD13                       
enable_pin: !PD15                   
rotation_distance: 40               
gear_ratio: 80:16                   
microsteps: 32 
#----------------------------------------------------------------------------------
endstop_pin: probe:z_virtual_endstop   # use idm as virtual endstop        
position_max: 310                   
position_min: -10                    
homing_speed: 10                     
#second_homing_speed: 3              
homing_retract_dist: 0 # idm needs this to be set to 0               
#----------------------------------------------------------------------------------
[tmc2209 stepper_z]                 
uart_pin: PD10                      
interpolate: False                   
run_current: 0.8                                      
sense_resistor: 0.110                
stealthchop_threshold: 0 
#[autotune_tmc stepper_z]
#motor: omc-17hm19-2004s
#tuning_goal: performance
####################################################################################
#                   Z1
####################################################################################  
[stepper_z1]                        
step_pin: PE6                       
dir_pin: !PC13                       
enable_pin: !PE5                    
rotation_distance: 40               
gear_ratio: 80:16                   
microsteps: 32                     
#-----------------------------------------------------------------------------------
[tmc2209 stepper_z1]                
uart_pin: PC14                       
interpolate: False                    
run_current: 0.8                                       
sense_resistor: 0.110                
stealthchop_threshold: 0
#[autotune_tmc stepper_z1]
#motor: omc-17hm19-2004s
#tuning_goal: performance
####################################################################################
#                   Z2
#################################################################################### 
[stepper_z2]                       
step_pin: PE2                        
dir_pin: PE4                        
enable_pin: !PE3                    
rotation_distance: 40                
gear_ratio: 80:16                    
microsteps: 32                       
#----------------------------------------------------------------------------------
[tmc2209 stepper_z2]                
uart_pin: PC15                      
interpolate: False                   
run_current: 0.8                                        
sense_resistor: 0.110                
stealthchop_threshold: 0
#[autotune_tmc stepper_z2]
#motor: omc-17hm19-2004s
#tuning_goal: performance
####################################################################################
#                   Z3
#################################################################################### 
[stepper_z3]                       
step_pin: PD12                       
dir_pin: !PC4                        
enable_pin: !PE8                     
rotation_distance: 40                
gear_ratio: 80:16                    
microsteps: 32                       
#-----------------------------------------------------------------------------------
[tmc2209 stepper_z3]                
uart_pin: PA15                      
interpolate: False                   
run_current: 0.8                                      
sense_resistor: 0.110                
stealthchop_threshold: 0  
#[autotune_tmc stepper_z3]
#motor: omc-17hm19-2004s
#tuning_goal: performance

####################################################################################
#                   Bed Heater
####################################################################################
[heater_bed]
heater_pin: PB4                     
sensor_type: Generic 3950           
sensor_pin: PB0                      
max_power: 0.5                     
min_temp: 0                       
max_temp: 120                      
#control: pid                       
#pid_kp: 58.437                     
#pid_ki: 2.347                      
#pid_kd: 363.769                    

####################################################################################
#	             Fan Control
####################################################################################

[fan]                                      #CPAP print Cooling Fan
pin: !PA13           
max_power: 1                               # adjust below 1 if you would like the max speed to be slower                             # minimum speed where the fan starts spinning - on octopus pro this is correct - will be lower maybe 0 on mellow Super 8 because of different GPIO pullup and protection resistors
cycle_time: 0.0005                         # = 2khz - CPAP fan driver recommended range is 2-50khz   
hardware_pwm: false
shutdown_speed: 0

[output_pin fanpower]
pin: PB15
pwm: False
value: 1
shutdown_value: 0
#--------------------------------------------------------------------------------
[heater_fan Controller_fan]         
pin: PC8                             
fan_speed: 0.35                      
kick_start_time: 0.5                
heater: extruder           
heater_temp: 40 
#--------------------------------------------------------------------------------
[heater_fan Nevermore_filter]
pin: PB3                            
max_power: 1.0                       
shutdown_speed: 0.0                 
kick_start_time: 5.0                
heater: heater_bed                  
heater_temp: 60                     
fan_speed: 1.0                      

####################################################################################
#	                LED Control
####################################################################################
[output_pin caselight]              
pin:PB6
pwm: true
shutdown_value: 0
cycle_time: 0.01
value: 1   

####################################################################################
#            Pi MCU  Board Spider v2.3
####################################################################################
[temperature_sensor Spider]
sensor_type: temperature_mcu
sensor_mcu: mcu
min_temp: 0
max_temp: 90
#-----------------------------------------------------------------------------------
[temperature_sensor Raspberry]
sensor_type: temperature_host
sensor_path:/sys/class/thermal/thermal_zone0/temp
min_temp: 0
max_temp: 90


[gcode_macro SHUTDOWN]
gcode:
    #LCDRGB R=0 G=0 B=0                               ; Turn off LCD neopixels (see above for this macro)
    OFF                                              ; Shortcut to turn everything off (see above for this macro)
	{action_call_remote_method("shutdown_machine")}   ; Moonraker compatible host shutdown



    


   
## 	Thermistor Types
##   "EPCOS 100K B57560G104F"
##   "ATC Semitec 104GT-2"
##   "NTC 100K beta 3950"
##   "Honeywell 100K 135-104LAG-J01"
##   "NTC 100K MGB18-104F39050L32" (Keenovo Heater Pad)
##   "AD595"
##   "PT100 INA826"

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 32.887
#*# pid_ki = 1.059
#*# pid_kd = 255.287
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 24.418
#*# pid_ki = 1.115
#*# pid_kd = 133.690
#*#
#*# [input_shaper]
#*# shaper_type_x = mzv
#*# shaper_freq_x = 72.6
#*# shaper_type_y = mzv
#*# shaper_freq_y = 46.0
#*#
#*# [idm model default]
#*# model_coef = 1.4435381949670258,
#*# 	1.86076883624198,
#*# 	0.7536687258857101,
#*# 	0.35958165228613387,
#*# 	0.29645295420509177,
#*# 	0.2726221219670837,
#*# 	-0.12474888034012077,
#*# 	-0.19104860875011245,
#*# 	0.18076520764990375,
#*# 	0.1492199030079064
#*# model_domain = 3.2440456203787126e-07,3.3473960264783857e-07
#*# model_range = 0.100000,5.000000
#*# model_temp = 35.962955
#*# model_offset = 0.00000
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	-0.062882, -0.054050, -0.044825, -0.042618, -0.033172, -0.030082, -0.027058, -0.027801, -0.029378, -0.029136, -0.033684, -0.039803, -0.047369, -0.060676, -0.066677
#*# 	-0.048657, -0.036096, -0.025817, -0.025415, -0.019247, -0.018907, -0.015852, -0.012917, -0.010717, -0.012216, -0.018801, -0.022981, -0.026811, -0.038718, -0.048749
#*# 	-0.039508, -0.033127, -0.024802, -0.024512, -0.014950, -0.014263, -0.012151, -0.005726, -0.005694, -0.003462, -0.011169, -0.015658, -0.020876, -0.029657, -0.037606
#*# 	-0.028858, -0.021371, -0.013469, -0.010974, -0.002979, -0.003934, -0.002780, -0.001153, 0.000213, 0.002213, 0.000014, -0.006038, -0.009632, -0.017230, -0.027117
#*# 	-0.026664, -0.013830, -0.008696, -0.008365, -0.001097, -0.002522, -0.002831, -0.001182, 0.000380, 0.000118, -0.003535, -0.007232, -0.013228, -0.021917, -0.029638
#*# 	-0.024390, -0.016247, -0.007129, -0.005573, 0.002819, 0.000987, 0.000392, 0.002363, 0.005786, 0.004609, -0.000557, -0.009048, -0.014024, -0.020166, -0.028670
#*# 	-0.020778, -0.019719, -0.006207, -0.005972, 0.002551, 0.001317, 0.001283, 0.001280, 0.000394, 0.002009, -0.005118, -0.012349, -0.014616, -0.020410, -0.028942
#*# 	-0.022993, -0.017125, -0.009712, -0.007760, 0.003165, 0.003958, 0.002913, 0.000449, 0.002432, -0.001667, -0.004053, -0.006239, -0.012754, -0.019177, -0.024507
#*# 	-0.024754, -0.017067, -0.010575, -0.012691, -0.003815, -0.001918, -0.003223, -0.004015, -0.004036, -0.004830, -0.009418, -0.012175, -0.017326, -0.022032, -0.031904
#*# 	-0.026209, -0.021135, -0.014845, -0.015515, -0.009210, -0.007797, -0.007216, -0.006250, -0.006102, -0.007271, -0.011612, -0.016854, -0.021352, -0.027913, -0.036881
#*# 	-0.029959, -0.025134, -0.020268, -0.021268, -0.010509, -0.010588, -0.012158, -0.013331, -0.014207, -0.015916, -0.020335, -0.023932, -0.032074, -0.038509, -0.043309
#*# 	-0.039836, -0.037582, -0.029985, -0.027634, -0.019196, -0.015680, -0.018107, -0.019301, -0.020203, -0.019689, -0.025553, -0.026048, -0.031930, -0.038731, -0.043773
#*# 	-0.041132, -0.040413, -0.033612, -0.034004, -0.025808, -0.021402, -0.020814, -0.019255, -0.022383, -0.020400, -0.025433, -0.026215, -0.032025, -0.038495, -0.040927
#*# 	-0.036115, -0.036082, -0.029864, -0.028981, -0.023286, -0.019156, -0.019084, -0.019235, -0.016495, -0.017628, -0.020295, -0.021325, -0.026669, -0.029911, -0.034041
#*# 	-0.025079, -0.034191, -0.031087, -0.028272, -0.022869, -0.020303, -0.018379, -0.018671, -0.017004, -0.017132, -0.019272, -0.023406, -0.027634, -0.028514, -0.028866
#*# x_count = 15
#*# y_count = 15
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 40.0
#*# max_x = 310.0
#*# min_y = 40.0
#*# max_y = 310.0
